<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Menú Principal</title>
</head>
<body>
  <div id="Div_Contenedor_Padre">

    <div class="card">
      <button id="Btn_Crear" onclick="window.location.href='/Crear'">
        Crear Prueba 2
      </button>

      <button id="Btn_Leer" onclick="window.location.href='/Leer'">
       <span>Leer todo</span>
      </button>


    </div>

  </div>

  <script src="/js/index.js"></script>
</body>
</html>

